<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/client-side-templates.js"></script>
    <script src="https://unpkg.com/mustache@latest"></script>
</head>
<body>


<table>
    <thead>
        <td>Attribute</td>
        <td>Detail</td>
    </thead>
    <tbody>
        <tr>
            <td>Id</td>
            <td>{{Id}}</td>
        </tr>
        <tr>
            <td>Time:</td>
            <td>{{Time}}</td>
        </tr>
        <tr>
            <td>Description</td>
            <td>{{Description}}</td>
        </tr>
        <tr>
            <td>ToString</td>
            <td>{{ToString}}</td>
        </tr>
    </tbody>
</table>

<form hx-post="/events/{{Id}}/attend">
    <label for="name">Name</label>
    <input id="name" name="name" type="text">
    <button type="submit">Attend</button>
</form>

<div id="demo-div"></div>

</body>

</html>