{{!
The following mustache syntax changes the delimiter to erb style tags.
A change is required in order to ensure that the event template returns
to the client with curly braces. Else, when the server renders this partial,
the event template is rendered server side and defaults to empty strings.
}}
{{=<% %>=}}


<h1> New Event </h1>

<!--TODO: Add emoji selector to persist with event-->
<form hx-post="/api/events/new">

    <!-- Title -->
    <div class="form-group">
        <label class="form-text text-muted" for="name"><span>Name:</span><strong><span aria-label="required">*</span></strong></label>
        <input class="form-control" type="text" id="name" name="name" required />
    </div>

    <!-- Description -->
    <div class="form-group">
        <label class="form-text text-muted" for="description"><span>Description:</span><strong><span aria-label="required">*</span></strong></label>
        <input class="form-control" type="text" id="description" name="description" required />
    </div>

    <!-- Date -->
    <div class="form-group">
        <label class="form-text text-muted" for="date" >Date:</label>
        <input class="form-control" type="date" id="date" name="date" value="<% today %>" required>
    </div>

    <!-- Time -->
    <div class="form-group">
        <label class="form-text text-muted" for="time" >Time:</label>
        <input class="form-control" type="time" id="time" name="time">
    </div>

    <!-- Minimum Attendees -->
    <div class="form-group">
        <label class="form-text text-muted" for="minimumAttendees" >Required Attendees:</label>
        <input class="form-control" type="number" id="minimumAttendees" name="minimumAttendees" value="0">
    </div>



<!--            &lt;!&ndash; Emoji Selector &ndash;&gt;-->
<!--            <div class="btn-group" role="group" aria-label="Basic example">-->
<!--                <button type="button" class="btn btn-secondary">Left</button>-->
<!--                <button type="button" class="btn btn-secondary">Middle</button>-->
<!--                <button type="button" class="btn btn-secondary">Right</button>-->
<!--            </div>-->


    <button type="submit" class="btn btn-primary mb-2">Create</button>
</form>
