{{!
The following mustache syntax changes the delimiter to erb style tags.
A change is required in order to ensure that the event template returns
to the client with curly braces. Else, when the server renders this partial,
the event template is rendered server side and defaults to empty strings.
}}
{{=<% %>=}}


<h1> Event </h1>

<div id="eventContent" hx-ext="client-side-templates" hx-get="/api/events/<% eventId %>" hx-swap="innerHTML"
     hx-target="#eventContent" mustache-template="event" hx-trigger="load"></div>
<template id="event">

    <div class="card">


        <div class="card-header text-center pt-4">

            <h1>{{event.Emoji}}</h1>

            <p class="text-uppercase">
                <strong>{{event.Name}}</strong>
            </p>

            <h3 class="mb-4">
                <strong>{{event.Date}} {{event.Time}}</strong>
                <small class="text-muted" style="font-size: 16px">/year</small>
            </h3>

            <h3 class="mb-3">{{event.Name}}</h3>
            <p class="mb-2">{{event.Description}}</p>


            <button type="button" hx-post="/api/events/<% eventId %>/attend" class="btn btn-secondary btn-rounded w-100 mb-3">
                Attend
            </button>

        </div>
        <div class="card-body">
            <ul>
                {{#attendees}}
                <li class="mb-3">
                    <i class="fas fa-check text-success me-3"></i>{{Name}}
                </li>
                {{/attendees}}
            </ul>
        </div>

        <span>
            <label for="attendeeCount">Reservation progress:</label>
            <meter id="attendeeCount" value="{{attendees.length}}" min="0" max="{{event.MinimumAttendees}}"></meter>
            <span> {{attendees.length}} </span>
        </span>
    </div>

    <!-- TODO: Fully change event to bootstrap template for delightful UI-->
    <!-- TODO: Calculate how many days until the event -->
    <!-- TODO: Display the event time nicely -->
    <!-- TODO: Add a button to attend and handle the API response better -->
    <!-- TODO: Convert progress to bootstrap component(?) -->


</template>


