{{!
The following mustache syntax changes the delimiter to erb style tags.
A change is required in order to ensure that the event template returns
to the client with curly braces. Else, when the server renders this partial,
the event template is rendered server side and defaults to empty strings.
}}
{{=<% %>=}}

<h1>Events Template</h1>

<div hx-ext="client-side-templates">
    <table hx-get="/api/events" hx-swap="innerHTML" hx-target="#events" mustache-template="event" hx-trigger="load">
        <thead>
        <tr>
            <td> Date </td>
            <td> Event </td>
            <td> Description </td>
            <td> Link </td>
        </tr>
        </thead>
        <tbody id="events">
        </tbody>
    </table>
</div>

<template id="event">
    {{#.}}
    <tr>
        <td> {{date}} </td>
        <td> {{name}} </td>
        <td> {{description}} </td>
        <td>
            <button><!--suppress HtmlUnknownTarget -->
                <a href="{{_links.self}}">{{_links.self}}</a>
            </button>
        </td>
    </tr>
    {{/.}}
</template>